* {
    margin: 0;
    padding: 0; 
} 

body{
    background:linear-gradient(0deg, red,black 60%);
    font-family: "Righteous", sans-serif;
    font-weight: 400px;
    font-style: normal;
    height: 200vh;
}

.title-section{
    display: flex;
    justify-content: center;
    position: relative ;
}.box-title{
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translateX(23%);
    background: linear-gradient(0deg,rgb(255, 166, 0),rgb(255, 1, 1) 50%);
    color:white;
    width: 450px;
    height: 60px;
    border-radius: 30px;
    font-size: 1.5em;
}




.lateral-bar{
    position: relative;
}.box-left{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(0deg,rgb(255, 166, 0),rgb(255, 1, 1) 50%);
    width: 3px;
    margin-left: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}.menu{
    margin-left: 20px;
    border-radius: 7px;
    width: 130px;
    height: 60px;
    transition: 300ms;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;   
}.menu:hover {
    cursor: pointer;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: #750E21;
}

.container {
    display: grid;
    justify-content: center;
    transform: translate(135px,190px);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 500px;
    margin-right: 500px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 350px;
    height: 100px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 2em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#rock{
    background-color: rgb(228, 0, 0);
}
#kpop{
    background-color: rgb(255, 120, 183);
}
#mpb{
    background-color: rgb(4, 179, 202);
}
#brega{
    background-color: rgb(255, 0, 170);
}
#funk{
    background-color: rgb(153, 0, 255);
}
#samba{
    background-color: rgb(255, 230, 0);
}
#hiphop{
    background-color: green;
}
#jazz{
    background-color: rgb(9, 0, 94);
}