* {
    margin: 0;
    padding: 0; 
} 

body{
    background-color: black;
    font-family: "Righteous", sans-serif;
    font-weight: 400px;
    font-style: normal;
    height: 200vh;
}

.title-section{
    display:flex;
    align-items: center;
    justify-content: center;
}.box-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #750E21;
    color:white;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.box-left{
    background-color:#750E21;
    width: 3px;
    margin-left: 10px;
    position: fixed;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}.menu{
    margin-left: 20px;
    border-radius: 7px;
    width: 130px;
    height: 60px;
    transition: 300ms;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.menu:hover {
    cursor: pointer;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: #750E21;
}





