* {
    margin: 0;
    padding: 0; 
} 

body{
    background:linear-gradient(0deg, blue,black 60%);
    font-family: "Righteous", sans-serif;
    font-weight: 400px;
    font-style: normal;
    height: 250vh;
}



.title-section{
    display: flex;
    justify-content: center;
    position: relative ;
}.box-title{
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translateX(23%);
    background: linear-gradient(0deg,rgb(255, 166, 0),rgb(255, 1, 1) 50%);
    color:white;
    width: 450px;
    height: 60px;
    border-radius: 30px;
    font-size: 1.5em;
}



.lateral-bar{
    position: relative;
}.box-left{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(0deg,rgb(255, 166, 0),rgb(255, 1, 1) 50%);
    width: 3px;
    margin-left: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}.menu{
    margin-left: 20px;
    border-radius: 7px;
    width: 130px;
    height: 60px;
    transition: 300ms;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;   
}.menu:hover {
    cursor: pointer;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: blue;
}

#FB{
    position:absolute;
		left:50%;
		top:50%;
		margin-left:-400px;
		margin-top:-150px;
}

#kings-queens{
    position:absolute;
		left:50%;
		top:50%;
		margin-left:-50px;
		margin-top:-150px;
}

#over-rainbow{
    position:absolute;
		left:50%;
		top:50%;
		margin-left:300px;
		margin-top:-150px;
}

#tank{
    position:absolute;
		left:50%;
		top:50%;
		margin-left:-400px;
		margin-top: 300px;
}

#witch-hunt{
    position:absolute;
		left:50%;
		top:50%;
		margin-left:-50px;
		margin-top: 300px;
}

#blue-train{
    position:absolute;
		left:50%;
		top:50%;
		margin-left:300px;
		margin-top: 300px;
}

#sg{
    color: white;
    position:absolute;
		left:50%;
		top:50%;
		margin-left:-470px;
		margin-top: 700px;
}

p{
    color: white;
    position:absolute;
		left:50%;
		margin: 100px;
        top:50%;
		margin-left:-470px;
		margin-top: 750px;
        
}